<h1>Preguntas</h1>
<%= link_to 'Añadir Pregunta', new_question_path, class: "btn btn-primary" %>
<% @questions.each do |question| %>	
	<div class="row">
		<div class="col-md-2">
			<h2><%= question.votes %></h2>
			<h4>Votos</h4>
		</div>
		<div class="col-md-2">
			<h2>#Respuestas</h2>
			<h4>Respuestas</h4>
		</div>
		<div class="col-md-8">
			<h2><%= link_to "#{question.title}", question_path(question) %></h2>
			<h4>hace <%= question.created_at %> dias</h4>
		</div>
	</div>
<% end %>
